body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    background-color: rgb(223, 255, 171);
    display: flex;
    justify-content: center;
}
.cabeca-titulogame{
    margin: 20px;
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: yellowgreen;
    font-weight: bold;
}
.welcome-game-txt{
    font-size: 40px;
    font-weight: bold;
    margin: 0px 0px 20px;
}
.welcome-game-button{
    border: none;
    background-color: yellowgreen;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}
.welcome-game-button:hover{
    background-color:rgb(100, 200, 50);
}
.tela-jogo{
    width: 100%;
    display: none;
    position: absolute;
    top: 20vh;
    align-items: center;
    justify-content: center;
}
.cartas-todas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cartas *{
    display: none;
    width: 40px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid white;
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: yellowgreen;
}
.img-backcard{
    width: 100%;
    height: 100%;
}
.img-frontcard{
    width: 100%;
    height: 100%;
}
.timer{
    background-color: yellowgreen;
    font-size: 20px;
    position: absolute;
    right: 20vw;
    width: 50px;
    box-sizing: border-box;
    text-align: center;
    top: 0px;
    padding: 10px;
    color: rgb(223, 255, 171);
}
@media (max-width: 614px){
    body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 100%;
        background-color: rgb(223, 255, 171);
        display: flex;
        justify-content: center;
    }
    .cabeca-titulogame{
        margin: 20px;
        font-size: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        color: yellowgreen;
        font-weight: bold;
    }
    .welcome-game-txt{
        font-size: 40px;
        font-weight: bold;
        margin: 0px 0px 20px;
    }
    .welcome-game-button{
        border: none;
        background-color: yellowgreen;
        font-size: 20px;
        border-radius: 5px;
        color: white;
        padding: 5px 10px;
    }
    .welcome-game-button:hover{
        background-color:rgb(100, 200, 50);
    }
    .tela-jogo{
        width: 100%;
        display: none;
        position: absolute;
        top: 20vh;
        align-items: center;
        justify-content: center;
    }
    .cartas-todas{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cartas{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .cartas *{
        display: none;
        width: 40px;
        height: 60px;
        border-radius: 10px;
        border: 2px solid white;
        margin: 10px;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: yellowgreen;
    }
    .img-backcard{
        width: 100%;
        height: 100%;
    }
    .img-frontcard{
        width: 100%;
        height: 100%;
    }
    .timer{
        background-color: yellowgreen;
        font-size: 20px;
        position: absolute;
        right: 5vw;
        width: 50px;
        box-sizing: border-box;
        text-align: center;
        top: 0px;
        padding: 10px;
        color: rgb(223, 255, 171);
    }

}